<section class="about">
	<div class="wrapper columns col-gapless">
		<div class="about__text column col-xl-12 col-6">
			<span class="about__hello title js-hello">
			</span>
			<div class="about__title js-title fadein">
				My name is Anya <span>&</span><br>
				I’m <span class="colored">Front-End developer</span>,<br>
				yoga fan, longboarder, traveller and happy dreamer!
			</div>
			<div class="about__desc">
				I love creation the websites' faces from scratch,
				especially focusing on:
				<ul>
					<li>good user experience,</li>
					<li>code quality,</li>
					<li>websites' speed optimization.</li>
				</ul>
			</div>
			<div class="about__links">
				<a class="link" href="https://drive.google.com/file/d/1XH26FVphQz2nIL88susbiJPK7JjUGpak/view?usp=sharing" target="_blank">
					See CV
					<span class="underlined"></span>
				</a>
				<a class="link" href="mailto:apelsanna@gmail.com">
					Contact me
					<span class="underlined"></span>
				</a>
			</div>
		</div>
		<div class="about__photo column col-xl-12 col-6 hide-xl">
			<!--<img src="./img/cutted-1.png" alt="Anya">
			<img src="./img/cutted-2.png" alt="Anya">
			<img src="./img/cutted-3.png" alt="Anya">-->
			<picture>
				<source srcset="./img/img-ava-4.webp" type="image/webp">
				<img src="./img/img-ava-4.png" alt="Anya">
			</picture>
		</div>
	</div>
</section>
