<footer class="footer">
	<div class="footer__col footer__greatday">
		Have a great day! 🤗
	</div>
	<div class="footer__col footer__socials">
		<a class="footer__social" href="https://www.linkedin.com/in/anna-sukhoparova-018288105/?locale=en_US" target="_blank">
			<svg><use xlink:href="#linkedin"></use></svg>
		</a>
		<a class="footer__social" href="https://www.instagram.com/apelsanna/" target="_blank">
			<svg><use xlink:href="#instagram"></use></svg>
		</a>
		<a class="footer__social" href="https://www.facebook.com/anna.suchoparova.5" target="_blank">
			<svg><use xlink:href="#facebook"></use></svg>
		</a>
	</div>
	<div class="footer__col footer__copyright">
		Design/Dev by <span class="colored">Me</span> with
			<svg><use xlink:href="#heart-orange"></use></svg>
	</div>
</footer>
