<section class="projects" id="projects">
	<div class="wrapper">
		<h3 class="title">My projects</h3>
		<div class="projects__items columns">
			<a href="https://amoveo.io/" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-amoveo@2x.jpg 2x" src="./img/img-amoveo.jpg" alt="Amoveo">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>Amoveo</h4>
						front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
			<a href="https://help.marvelapp.com/hc/en-us" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-marvel@2x.jpg 2x" src="./img/img-marvel.jpg" alt="Marvel">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>Marvel</h4>
						design / front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
			<a href="https://labs.360science.com/hc/en-us" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-labs@2x.jpg 2x" src="./img/img-labs.jpg" alt="Labs">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>360Science LABS</h4>
						front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
			<a href="https://gozo.pro/" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-gozo@2x.jpg 2x" src="./img/img-gozo.jpg" alt="Gozo">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>Gozo</h4>
						front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
			<a href="https://trust.clinictocloud.com.au/hc/en-us/" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-clinic@2x.jpg 2x" src="./img/img-clinic.jpg" alt="Clinic to Cloud">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>Clinic to Cloud</h4>
						design / front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
			<a href="https://help.coinsquare.com/hc/en-us" class="projects__item column col-sm-12 col-lg-6 col-4" target="_blank">
				<img srcset="./img/img-coinsquare@2x.jpg 2x" src="./img/img-coinsquare.jpg" alt="Coinsquare">
				<div class="projects__hover">
					<div class="projects__hover-cont">
						<div class="projects__name">
						<h4>Coinsquare</h4>
						front-end
					</div>
					<svg><use xlink:href="#right-arrow"></use></svg>
					</div>
				</div>
			</a>
		</div>

	</div>
</section>
