// colors

$text-color: #000000;
$orange-color: #f19824;
$gray-color: #ebebeb;
$gray-darker-color: #989898;
$gray-dark-color: #656565;

// typographics

$font-fam: 'Exo 2';
$font-local: 'Exo 2';

$font-regular-url1: '../fonts/Exo2-Regular.woff2';
$font-regular-url2: '../fonts/Exo2-Regular.woff';
$font-regular-weight: 400;

$font-medium-url1: '../fonts/Exo2-Medium.woff2';
$font-medium-url2: '../fonts/Exo2-Medium.woff';
$font-medium-weight: 500;

$font-size-base: 18px;
$font-size-title: 28px;
$font-size-subtitle: 22px;

// media

$screen-xs-min: 480px;
$screen-sm-min: 840px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1720px;
